* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: #111015;
	font-family: monospace;
	font-size: 1.4rem;
	text-align: center;
}

html {
	background-color: #fefefe;
	width: 100vw;
	height: 100vh;
}

ul {
	list-style: none;
}

h1 { 
	font-size: 3.6rem; 
	text-decoration: underline;
}

h2 { 
	font-size: 2rem; 
	text-decoration: underline;
}

a { 
	padding: 5px;
	text-decoration: none; 
	opacity: 0.5;
}
a:hover { 
	transition-duration: 0.2s;
	color: #5f819d; 
}

article { 
	padding: 5px; 
}

article, .border {
	border: 2px solid #fefefe0f;
	background-color: #fefefe05;
}

.container {
	position: relative;
}

.vert_center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

#content_wrapper {
	display: grid;
	grid-gap: 8rem;
	width: 700px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 2fr 1fr 1fr;
	grid-template-areas: 
		"hea hea"
		"gen soc"
		"gen soc"
	;
}

#header { grid-area: hea; }

#header p { 
	grid-area: quo; 
	font-size: 1rem;
	word-wrap: wrap;
}

#author {
	opacity: 0.4;
	font-size: 0.7rem;
	font-style: italic;
}

#socials { grid-area: soc; }
#general { grid-area: gen; }
